.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 5.625rem;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 0.0625rem solid #ececec;
}

.header__inner {
  width: 100%;
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  all: unset;
  background: #fff;
}

.header__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.header__nav-item {
  text-decoration: none;
  padding: 0 0.9375rem;
  color: #232323;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.3125rem;
  transition: color 0.2s;
}

.header__nav-item:hover {
  color: #ff4c4e;
  background: none;
}

.header__logo {
  width: 40px;
  height: 35px;
  background: url("./../../images/header/logo.svg") no-repeat center / contain;
  margin-right: 20px;
}

.header__logo:hover {
  background: url("./../../images/header/logo.svg") no-repeat center / contain;
}

@media (max-width: 850px) {
  .header {
    height: 8.625rem;
  }

  .header__inner {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .header {
    height: 22rem;
  }

  .header__nav ul {
    flex-direction: column;
  }

  .header__nav ul li {
    margin: 10px 0;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__feedback > a {
    margin: 10px 0;
  }
}
