.cards-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 730px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
